.idea/
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
.idea/sonarlint/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/caches/build_file_checksums.ser
*.exe
*.exe~
*.dll
*.so
*.iml
*.dylib
*.test
*.out
go.work
go.work.sum
.env
